{% extends 'admin/tableau_de_bord.html.twig' %}

{% block title %}Nouveau Mail{% endblock %}

{% block page_content %}
    <main id="main">
        <section id="call-to-action" class="wow fadeIn mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="list-nouveau-list" data-toggle="list" href="#list-nouveau" role="tab" aria-controls="nouveau">Nouveau Mail</a>
                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-nouveau" role="tabpanel" aria-labelledby="list-nouveau-list">
                                Remplissez le formulaire pour écrire entièrement un mail au destinataire de votre choix.
                                <a class="btn btn-info" href="{{ path('admin_courrier_nouveau') }}">Commencer</a>
                            </div>
                            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
                            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
{% endblock %}