<table style="height: 244px;" width="631">
    <tbody>
    <tr>
        <td width="146">&nbsp; &nbsp; &nbsp; &nbsp;<img src="{{ absolute_url(asset('home/img/logo_180.jpg')) }}" alt="logo Plastic R cube" width="105" height="105" /></td>
        <td width="301">
            <p><span style="font-family: helvetica;"><strong><span style="color: #008000;">PLASTIC R CUBE</span></strong></span></p>
            <p><span style="font-family: helvetica;">06 52 40 10 07 | 679 Avenue de la R&eacute;publique &ndash; 59800 Lille</span></p>
            <p>
                <span style="font-family: helvetica;">
                    <a href="https://www.plasticrcube.fr" target="_blank" rel="noopener noreferrer">www.plasticrcube.fr</a>|&nbsp;
                    <u><a href="https://www.facebook.com/241845266850681/">Facebook</a></u>&nbsp;|&nbsp;
                    <u><a href="https://twitter.com/@plastic_r_cube/">Twitter&nbsp;</a></u>|&nbsp;
                    <u><a href="https://www.instagram.com/plasticrcube/">Instagram</a></u>
                </span>
            </p>
        </td>
    </tr>
    </tbody>
</table>